
body {

    background: linear-gradient(0deg,rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url("../img/background_homepage_1920x1280.jpg");
    background-attachment: fixed;

    background-size: cover;
    background-repeat: no-repeat;




}
#home {

}
#topBarSearch {
    display: none;
}
#lowBarSearch {
    display: none;
}
#navBar {
    background-color: RGBA(0,0,0,0);
}
.navmob{
    display: none;
}


