
body{
    background-image: url("../img/background_homepage4.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#topBarSearch {
    display: none;
}
#lowBarSearch {
    display: none;
}
#navBar {
    background-color: RGBA(0,0,0,0);
}


