{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Page non trouvée {% endblock %}

{% block body %}

        <div id="notfound">
            <h1>Erreur 404 !</h1>
            <h2>Page non trouvée</h2>
        </div>

{% endblock %}