#compare {
  margin-bottom: 5%;
  li {
    a {
      font-size: 1.2em;
    }
  }
  th {
    width: 34%;
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    width: 33%;
    text-align: center;
    ol {
      margin: 5px;
    }
    p {
      padding: 10px;
      text-align: center;
      a {
        font-size: 1.0em;
      }
    }
  }
  h1 {
    margin-top: 8%;
  }
  .labelcomparatif {
    margin-top: 20px;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .selectsoft {
    border-style: none;
    border-radius: 5px;
    border-color: grey;
    background-color: ghostwhite;
    position: relative;
  }
  img {
    height: 100px;
  }
  .morecontent span {
    display: none;
  }
  .morelink {
    display: block;
    text-align: right;
  }
  #SpecificCompareComment {
    margin-bottom: 4%;
    margin-top: 4%;
    p {
      text-align: justify;
    }
  }
  #autocomplete {
    position: relative;
  }
  #versus-button {
    margin: 20px;
  }
  .collapsible {
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 6vh;

  }
  .collapsible-body {
    padding: 0;
  }
  .collapsible-header {
    padding-left: 0;
  }
}
