#compare {
  margin-bottom: 5%;
  th {
    width: 34%;
  }
  td {
    width: 33%;
    text-align: center;
  }
  h1 {
    margin-top: 8%;
  }
  table {
    margin-top: 5%;
  }
  .labelcomparatif {
    margin-top: 20px;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .selectsoft {
    border-style: none;
    border-radius: 5px;
    border-color: grey;
    background-color: ghostwhite;
  }
  img {
    height: 100px;
  }
  .morecontent span {
    display: none;
  }
  .morelink {
    display: block;
    text-align: right;
  }
  #SpecificCompareComment {
    margin-bottom: 4%;
    p {
      padding: 10px;
      font-size: large;
    }
  }
}
