#compare {
  margin-bottom: 5%;
  th {
    width: 34%;
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    width: 33%;
    text-align: center;
  }
  h1 {
    margin-top: 8%;
  }
  table {
    margin-top: 5%;
  }
  .labelcomparatif {
    margin-top: 20px;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .selectsoft {
    border-style: none;
    border-radius: 5px;
    border-color: grey;
    background-color: ghostwhite;
  }
  img {
    height: 100px;
  }
}
