#notfound {

  background-color: #EBEBEB;

  h1, h2, p {
    text-align: center;
  }

  h1 {
    font-size: 6em;
    color: #151f30;
    margin-top: 300px;
    margin-bottom: 20px;
  }

  h2{
    font-size: 3em;
    color: dimgrey;
    margin-top: 20px;
    margin-bottom: 20px;
  }


}
