#mentions-legales {
  min-height: 100vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: justify;

  h1 {
    font-size: 60px;
    margin-top: 2vh;
    margin-bottom: 2vh;

  }

  h2 {
    font-size: 40px;
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 2vh;

  }
}