@import "../../queries/smartphone";

#results{
  h1{
    margin-bottom: 4%;
  }
  .card-image {
    margin: auto 0;
    right:0;
  }
  .card-content {
    padding: 10px 24px;

  }
  .card-action {
    padding-bottom: 0;
  }

  .pagination {
    margin-bottom: 40px;
  }

  h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3em;
  }

  .btnresult {
  }


}

