#software {
  #tagOnSoft {

    margin-bottom: 2%;
    color: grey;

    a {
      color: grey;
      text-decoration: underline;
    }
  }
  .collapsible {
    border: none!important;
    box-shadow: none!important;
    margin-bottom: 6vh;

  }
  .collapsible-body {
    padding: 0;
  }
  .collapsible-header {
    padding-left: 0;
  }
  table {
    margin-top: 5%;
    th {
      width: 34%;
      padding-left: 10px;
      padding-right: 10px;
    }
    td {
      width: 66%;
      text-align: center;
      p {
        text-align: center;
      }
    }
  }

  #softwareh1 {
    margin-bottom: 0;
  }
}