#tagOnSoft {

  margin-bottom: 2%;
  color: grey;

  a {
    color: grey;
    text-decoration: underline;
  }
}

table {
  margin-top: 5%;
  th {
    width: 34%;
    padding-left: 10px;
    padding-right: 10px;
  }
  td {
    width: 66%;
    text-align: center;
    p {
      text-align: center;
    }
  }
}

#softwareh1 {
  margin-bottom: 0;
}






