.breadcrumb {

  /* Style the list */
  ul {
    padding: 10px 16px;
    list-style: none;
    margin-bottom: 10px;



  }

  /* Display list items side by side */
  li {
    display: inline;
    font-size: 18px;
    color: black;
  }

  /* Add a slash symbol (/) before/behind each list item */
  li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  a {
    color: #0275d8;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  a:hover {
    color: #01447e;
    text-decoration: underline;
  }

}