#filters {
  .collapsible-body {
    background-color: white;
    label {
      color: darkslategrey;
    }
  }
  margin-top: 4%;

}

.filters-responsive {
  p {
    padding-left: 10px;
  }

}

.filters-responsive-btn {
  a {
    margin-top: 20px;

  }

}

.full-label {
  label {
    width: 100%;
  }

}

#slider {
  margin-bottom: 4px;
}

.filters-responsive {
margin-top: 10px;
  #range-responsive {
    margin-bottom: 20px;
  }
}