.page-footer {
  padding-top: 15px;
  width: 100%;
  background-color: rgb(21, 31, 48);
  position: relative;
  bottom:0;
}

.page-footer a{
  color: white;
}

.footer-copyright {
  margin-top: -15px;
}