.page-footer {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 100%;
  background-color: rgb(21, 31, 48);
  position: relative;
  bottom:0;
}

.page-footer a {
  color: white;
  font-size: 1.1em;
}

