.page-footer {
  padding-top: 14px;
  width: 100%;
  background-color: rgb(21, 31, 48);
  position: relative;
  bottom:0;
}

.footer-copyright {

  margin-top: -15px;
}

}

.page-footer a {
  color: white;
  font-size: 1.1em;
}