nav {
  background-color: rgb(21, 31, 48);
  box-shadow: none;
  color: black;

  .input-field {
    background-color: white;
  }

  li {
    a {
      font-size: 1.3em;
    }
  }
  #topBarSearch{
    .input-field {
      border-radius: 4px;
      height: 51px;
      margin-top: 7px;
      vertical-align: middle
    }

  }

  #lowBarSearch {
    input {
      text-align: center;
    }
  }

  .left {
    li {
      display: inline-block;
    }
  ;
  }

}

.nav-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-fixed {
  z-index: 998;
}

#mobile-demo a:active {
  background-color: lightblue;
}