nav {
  background-color: rgb(21, 31, 48);
  box-shadow: none;
  color: black;

  .input-field {
    background-color: white;
  }

  li {
    a {
      font-size: 1.4em;
    }
  }
  #topBarSearch {
    margin-top: -65px;
    .input-field {
      border-radius: 4px;
      height: 51px;
      margin-top: 7px;
      vertical-align: middle
    }

    .loupe {
      background: url("../img/loupe.png") no-repeat 0 0;
      position: absolute;
      margin-left: 92%;
      margin-top: 8px;
      width: 10px;
    }

    input {
      margin-left: 1.5rem;
      width: calc(100% - 4rem);
      font-size: 1.2em;

    }


  }

  #lowBarSearch {
    .input-field .prefix {
      position: absolute;
      margin-left: 90%;
    }

    .loupe {
      background: url("../img/loupe.png") no-repeat 0 0;
      position: absolute;
      margin-left: 88%;
      margin-top: 8px;
      width: 10px;
    }

    input {
      text-align: center;
      margin-left: 1.5rem;
      width: calc(100% - 4rem);
      font-size: 1.2em;
    }

  }



  .left {
    li {
      display: inline-block;
    }
  ;
  }

  .brand-logo {
    padding: 0.3em;
    img {
      max-width: 45%;

    }

  }

  .side-logo {
    background-color: rgb(21, 31, 48);
    img {
      max-width: 70%;
    }

  }
}

.hide-on-large-only {
  .brand-logo {
    padding: 0;

    img {
      max-width: 70%;
    }

  }
}

.nav-wrapper {
  margin-right: 30px;
}

.navbar-fixed {
  z-index: 998;
}

#mobile-demo a:active {
  background-color: lightblue;
}

.side-nav {
  width: 85vw;
  max-width: 340px;
}



