nav {
  background-color: rgb(21, 31, 48);
  box-shadow: none;
  color: black;

  .input-field {
    background-color: white;
    height: 51px;
    margin-top: 7px;
  }

  li {
    a {
      font-size: 1.3em;
    }
      }
  #topsearchbar {

  }

  #lowsearchbar {
    input {
      text-align: center;
    }
  }

}

.nav-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-fixed {
  z-index: 998;
}