nav {
  background-color: rgb(21, 31, 48);
  box-shadow: none;
  color: black;

  .input-field {
    background-color: white;
  }

  li {
    a {
      font-size: 1.4em;
    }
  }
  #topBarSearch{
    margin-top: -65px;
    .input-field {
      border-radius: 4px;
      height: 51px;
      margin-top: 7px;
      vertical-align: middle
    }
    .input-field .prefix {
      position: absolute;
      margin-left: 92%;
    }
    input {
      margin-left: 1.5rem;
      width: calc(100% - 4rem);
    }


  }

  #lowBarSearch {
    .input-field .prefix {
      position: absolute;
      margin-left: 90%;
    }
    input {
      text-align: center;
      margin-left: 1.5rem;
      width: calc(100% - 4rem);
    }
  }

  .left {
    li {
      display: inline-block;
    }
  ;
  }

}

.nav-wrapper {
  margin-right: 30px;
}

.navbar-fixed {
  z-index: 998;
}

#mobile-demo a:active {
  background-color: lightblue;
}

.side-nav{
  width: 85vw;
  max-width: 340px;
}