.softwareCard {
  .marginLogo {
    padding: 10px;
    .card-image {
      height: 0;
      padding-top: 100%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        margin: auto;
      }
    }
  }
  .card-content {
    padding-left: 0;
    padding-right: 0;
    .card-title {
      overflow: hidden;
      text-align: center;
      height: 65px;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      word-wrap: break-word;
      font-size: 1.3em;
    }
  }
}