#table {
  min-height: 100vh;

  ul {
    li {
      list-style-type: initial!important;
    }
  }

  li {
    text-align: left;
  }

}

.striped {
  li {
    font-size: 1.2em;
  }
  th {
    font-size: 1.2em;
  }
}

