<div class="breadcrumb">
<ul>
<ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li><a href="{{ path('homepage') }}">Accueil</a></li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" href={{ path('listingSoftware') }}>
            <span itemprop="name">Logiciels de Marketing Automation</span></a>
        <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
            <span itemprop="name">{{ slug }}</span>
        <meta itemprop="position" content="2" />
    </li>
</ol>
</ul>
</div>