<div class="offset-m1 offset-l1 col s12 m4 l4 hide-on-small-only full-label" id="filters">
    <h2>Affinez votre recherche avec des critères</h2>

    <p>Indiquez une fourchette de prix:</p><br>
    <div id="slider"></div>

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                Canaux de communication sortants
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" v-model="sms" id="sms" />

                        <label for="sms">Sms</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in"  v-model="mail"  id="mail"/>
                        <label for="mail">Mail</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="rgpd" id="rgpd"/>
                        <label for="rgpd">conformité RGPD</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="popin" id="popin"/>
                        <label for="popin">Pop in</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="mailpostal" id="mailpostal"/>
                        <label for="mailpostal">Mail Postal</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="callCenter" id="callCenter"/>
                        <label for="callCenter">Call center</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="pushmobile" id="pushmobile"/>
                        <label for="pushmobile">Push Mobile</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="api" id="api"/>
                        <label for="api">API</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Supports de communication
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" v-model="landing" id="landing"/>
                        <label for="landing">Landing pages</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="formulaire" id="formulaire"/>
                        <label for="formulaire">Formulaire</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="codesuivi" id="codesuivi"/>
                        <label for="codesuivi">Code de suivi</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="livechat" id="livechat"/>
                        <label for="livechat">Live Chat</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Fonctionnalités de reporting
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" v-model="reportcreation" id="reportcreation"/>
                        <label for="reportcreation">Report Creation</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="reportperiodic" id="reportperiodic"/>
                        <label for="reportperiodic">Rapport périodique</label>
                    </p>
                </form>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                Support
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" v-model="emailsupport" id="emailsupport"/>
                        <label for="emailsupport">Support par email</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="phonesupport" id="phonesupport"/>
                        <label for="phonesupport">Support par tél</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="chatsupport" id="chatsupport"/>
                        <label for="chatsupport">Support par chat</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="knowledgebase" id="knowledgebase"/>
                        <label for="knowledgebase">Base de connaissance</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="technicalDoc" id="technicalDoc"/>
                        <label for="technicalDoc">Documentation technique</label>
                    </p>
                </form>
            </div>
        </li>

        <li>
            <div class="collapsible-header">
                Intégration Social Media
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" v-model="twitterMon" id="twitterMon"/>
                        <label for="twitterMon">Veille Twitter</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="twitterAuto" id="twitterAuto"/>
                        <label for="twitterAuto">Publication automatique sur Twitter</label>
                    </p>

                    <p>
                        <input type="checkbox" class="filled-in" v-model="facebookAuto" id="facebookAuto"/>
                        <label for="facebookAuto">Publication automatique sur Facebook	</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="facebookMon" id="facebookMon"/>
                        <label for="facebookMon">Veille Facebook	</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="linkedinMon" id="linkedinMon"/>
                        <label for="linkedinMon">Veille Linkedin</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="linkedinAuto" id="linkedinAuto"/>
                        <label for="linkedinAuto">Publication automatique sur Linkedin</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="instagramMon" id="instagramMon"/>
                        <label for="instagramMon">Veille Instagram	</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" v-model="instagramAuto" id="instagramAuto"/>
                        <label for="instagramAuto">Publication automatique sur Instagram	</label>
                    </p>
                </form>
            </div>
        </li>

    </ul>


</div>
{# Filters bar for responsive only ! #}

<ul id="slide-out" class="side-nav full-label">
    <div class="center-align">
        <li>Sélectionnez vos critères</li>
    </div>

    <div class="filters-responsive">
        <p>Indiquez une fourchette de prix:</p><br>
        <div id="range-responsive"></div>
    </div>

    <div class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i>Spécialités
            </div>
            <div class="collapsible-body filters-responsive">
                <form action="#">
                    <p>
                        <label for="sms">Sms</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="mail"/>
                        <label for="mail">Mail</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in"  v-model="mail" id="checkbox3"/>
                        <label for="checkbox3">Pigeon voyageur</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i>
                Prix
            </div>
            <div class="collapsible-body filters-responsive">
                <form action="#" class="">
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox4"/>
                        <label for="checkbox4">Sms</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox5"/>
                        <label for="checkbox5">Mail</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox6"/>
                        <label for="checkbox6">Pigeon voyageur</label>
                    </p>
                </form>
            </div>
        </li>
    </div>
    <div class="filters-responsive-btn center-align">
        <a class="waves-effect waves-light btn">Actualiser</a>
    </div>
</ul>