<div class="col s12 m6 l3" id="filters">
    <h2>Affinez votre recherche avec des critères</h2>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                First filter family
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="test1"/>
                        <label for="test1">Sms</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test2"/>
                        <label for="test2">Mail</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test3"/>
                        <label for="test3">Pigeon voyageur</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Second filter Family
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="test4"/>
                        <label for="test4">BtoB</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test5"/>
                        <label for="test5">BtoC</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test6"/>
                        <label for="test6">BtoBtoC</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Others
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="test4"/>
                        <label for="test4">Cycle long</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test5"/>
                        <label for="test5">Français</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test6"/>
                        <label for="test6">Utilisable sur Mac</label>
                    </p>
                </form>
            </div>
        </li>
    </ul>
    <p>Indiquez une fourchette de prix:</p><br>
    <div id="test-slider"></div>
</div>
