<div class="offset-m1 offset-l1 col s12 m4 l3 hide-on-small-only full-label" id="filters">
    <h2>Affinez votre recherche avec des critères</h2>

    <p>Indiquez une fourchette de prix:</p><br>
    <div id="slider"></div>

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                First filter family
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="test1"/>
                        <label for="test1">Sms</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test2"/>
                        <label for="test2">Mail</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test3"/>
                        <label for="test3">Pigeon voyageur</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Second filter Family
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="test4"/>
                        <label for="test4">BtoB</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test5"/>
                        <label for="test5">BtoC</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test6"/>
                        <label for="test6">BtoBtoC</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Others
            </div>
            <div class="collapsible-body">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="test4"/>
                        <label for="test4">Cycle long</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test5"/>
                        <label for="test5">Français</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="test6"/>
                        <label for="test6">Utilisable sur Mac</label>
                    </p>
                </form>
            </div>
        </li>
    </ul>
    <div class="center-align">
        <div class="filters-responsive-btn ">
            <a class="waves-effect waves-light btn">Actualiser</a>
        </div>
    </div>

</div>


{# Filters bar for responsive only ! #}

<ul id="slide-out" class="side-nav full-label">
    <div class="center-align">
        <li>Sélectionnez vos critères</li>
    </div>

    <div class="filters-responsive">
        <p>Indiquez une fourchette de prix:</p><br>
        <div id="range-responsive"></div>
    </div>

    <div class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i>Spécialités
            </div>
            <div class="collapsible-body filters-responsive">
                <form action="#">
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox1"/>
                        <label for="checkbox1">Sms</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox2"/>
                        <label for="checkbox2">Mail</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox3"/>
                        <label for="checkbox3">Pigeon voyageur</label>
                    </p>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">expand_more</i>
                Prix
            </div>
            <div class="collapsible-body filters-responsive">
                <form action="#" class="">
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox4"/>
                        <label for="checkbox4">Sms</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox5"/>
                        <label for="checkbox5">Mail</label>
                    </p>
                    <p>
                        <input type="checkbox" class="filled-in" id="checkbox6"/>
                        <label for="checkbox6">Pigeon voyageur</label>
                    </p>
                </form>
            </div>
        </li>
    </div>

    <div class="center-align">
        <div class="filters-responsive-btn ">
            <a class="waves-effect waves-light btn">Actualiser</a>
        </div>
    </div>
</ul>
