<footer class="page-footer">
    <div class="container">
        <div class="row center">
            <div class="col s12 m6 l2"><a href="/">Home</a></div>
            <div class="col s12 m6 l4"><a href="/listing-software">Les logiciels</a></div>
            <div class="col s12 m6 l4"><a href="#">Comparatifs</a></div>
            <div class="col s12 m6 l4"><a href="/tags">Tags</a></div>

            <div class="col s12 m6 l2"><a href="#">A propos</a></div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                © 2017 Pierre Ammeloot
                <a class="grey-text text-lighten-4 right" href="#">Plus de liens</a>
            </div>
        </div>
    </div>
</footer>