<div class="card horizontal">
    <div class="marginLogo">
        <div class="card-image result-logo-responsive">
            <a href="{{ path('softwareSolo') }}"><img src="{{ asset('assets/img/photo') }}{{ random(3) }}.png"></a>
        </div>
    </div>
    <div class="card-stacked">
        <div class="card-action">
            <a href="{{ path('softwareSolo') }}">MailChimp</a>
        </div>
        <div class="card-content">
            <p class="troncate">A brain that automatically helps you find and connect with your audience so you can
                build your brand and sell more stuff. Activating your MailChimp brain is free and easy. A brain that
                automatically helps you find and connect with your audience so you can build your brand and sell more
                stuff. Activating your MailChimp brain is free and easy.</p>
        </div>

    </div>
</div>
