<div class="card horizontal">
    <div class="card-image result-logo-responsive">
        <a href="{{ path('softwareSolo') }}"><img src="{{ asset('assets/img/mailchimp.png') }}" height="50" width="50"></a>
    </div>
    <div class="card-stacked">
        <div class="card-action">
            <a href="{{ path('softwareSolo') }}">MailChimp</a>
        </div>
        <div class="card-content">
            <p>A brain that automatically helps you find and connect with your audience so you can build your brand and sell more stuff. Activating your MailChimp brain is free and easy.</p>
        </div>

    </div>
</div>
