<div class="col s6 m3 l2">
    <div class="card">
        <div class="card-image">
            <a href="{{ path('softwareSolo') }}"><img
                        src="{{ asset('assets/img/mailchimp.png') }}"></a>
        </div>
        <div class="card-content">
            <a href="{{ path('softwareSolo') }}"><span class="card-title">Logiciel</span></a>
        </div>
    </div>
</div>