<div class="col s6 m3 l2">
    <div class="card">
        <div class="marginLogo">
            <div class="card-image responsive-img">
                <a href="{{ path('softwareSolo') }}"><img class="responsive-img"
                                                          src="{{ asset('assets/img/photo') }}{{ random(3) }}.png"></a>
            </div>
        </div>
        <div class="card-content">
            <a href="{{ path('softwareSolo') }}"><span class="card-title">Logiciel</span></a>
        </div>
    </div>
</div>