
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isLandingPage'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isLandingPage is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softCommSupport.isLandingPage is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isLandingPage is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isForm'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isForm is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softCommSupport.isForm is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isForm is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isTracking'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isTracking is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softCommSupport.isTracking is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isTracking is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLiveChat'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isLiveChat is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softCommSupport.isLiveChat is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isLiveChat is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
