
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'isLandingPage'|trans }}</th>
        <td>oui</td>
    </tr>
    <tr>
        <th>{{ 'isForm'|trans }}</th>
        <td>non</td>
    </tr>
    <tr>
        <th>{{ 'isTracking'|trans }}</th>
        <td>non</td>
    </tr>
    <tr>
        <th>{{ 'isLiveChat'|trans }}</th>
        <td>non</td>
    </tr>
    </tbody>
</table>