
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isActivityReportCreation'|trans }}</th>
        <td>{{ softmain.softReport.isActivityReportCreation }}</td>
    </tr>
    <tr>
        <th>{{ 'isActivityReportPeriodicSend'|trans }}</th>
        <td>{{ softmain.softReport.isActivityReportPeriodicSend }}</td>
    </tr>
    </tbody>
</table>