
<table class="striped highlight">
    <tbody>
    <tr>
        <th>Nom du logiciel</th>
        <td>MailChimp</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>Logiciel généraliste</td>
    </tr>
    <tr>
        <th>Pour qui? </th>
        <td>Equipe bien organisée</td>
    </tr>
    <tr>
        <th>Hébergement des données</th>
        <td>Île Caïman</td>
    </tr>
    <tr>
        <th>Date de création</th>
        <td>1650</td>
    </tr>
    <tr>
        <th>CA annuel</th>
        <td>10</td>
    </tr>
    <tr>
        <th>Coût de la configuration</th>
        <td>800 €</td>
    </tr>
    <tr>
        <th>Abonnement à partir de ...</th>
        <td>800 €</td>
    </tr>
    <tr>
        <th>Coût de la formation</th>
        <td>800 €</td>
    </tr>
    <tr>
        <th>Site web</th>
        <td><a href="http://mailchimp.fr">mailchimp.fr</a></td>
    </tr>
    <tr>
        <th>Les plus</th>
        <td>800</td>
    </tr>
    <tr>
        <th>Les moins</th>
        <td>800</td>
    </tbody>
</table>