
    <table class="striped highlight  ">
        <tbody>
        <tr>
            <th></th>
            <th>MailChimp</th>
        </tr>
        <tr>
            <th>Nationalité</th>
            <td>Américaine</td>
        </tr>
        <tr>
            <th>Spécialités</th>
            <td>Logiciel d'emailing</td>
        </tr>
        <tr>
            <th>Type d'abonnement</th>
            <td>Licence renouvelable</td>
        </tr>
        <tr>
            <th>Utilisé par ...</th>
            <td>Plus de 100 000 entreprises en France</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>5/10</td>
        </tr>
        <tr>
            <th>Gratuité</th>
            <td>Non</td>
        </tr>
        </tbody>
    </table>