
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isLandingPage'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isLandingPage == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isLandingPage == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isForm'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isForm == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isForm == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isTracking'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isTracking == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isTracking == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isLiveChat'|trans }}</th>
        <td>
            {% if softmain.softCommSupport.isLiveChat == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softCommSupport.isLiveChat == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
