
<div class="container">
    <table class="striped highlight centered responsive-table">
        <tbody>
        <tr>
            <th>Logiciel</th>
            <td>Mautic</td>

        </tr>
        <tr>
            <th>Nationalité</th>
            <td>Américain</td>

        </tr>
        <tr>
            <th>Spécialités</th>
            <td>Logiciel d'emailing</td>

        </tr>
        </tbody>
    </table>
</div>