
<table class="striped highlight">
    <tbody>
    <tr>
        <th>Email</th>
        <td>oui</td>
    </tr>
    <tr>
        <th>Sms </th>
        <td>non</td>
    </tr>
    <tr>
        <th>Popin sur site </th>
        <td>non</td>
    </tr>
    <tr>
        <th>Courrier postal </th>
        <td>non</td>
    </tr>

    <tr>
        <th>Centre d'appel </th>
        <td>non</td>
    </tr>

    <tr>
        <th>Notifications push mobile</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Appel API</th>
        <td>non</td>
    </tr>
    </tbody>
</table>