
<table class="striped highlight">
    <tbody>
    <tr>
        <th>Page d'atterrissage</th>
        <td>oui</td>
    </tr>
    <tr>
        <th>Formulaire </th>
        <td>non</td>
    </tr>
    <tr>
        <th>Code de suivi </th>
        <td>non</td>
    </tr>
    <tr>
        <th>Live chat </th>
        <td>non</td>
    </tr>
    </tbody>
</table>