
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'isSegmentCreation'|trans }}</th>
        <td>{{ softmain.softSegmentOperation.isSegmentCreation }}</td>
    </tr>
    <tr>
        <th>{{ 'isIntelligentSegment'|trans }}</th>
        <td>{{ softmain.softSegmentOperation.isIntelligentSegment }}</td>
    </tr>
    </tbody>
</table>