
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isSegmentCreation'|trans }}</th>
        <td>
            {% if softmain.softSegmentOperation.isSegmentCreation is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSegmentOperation.isSegmentCreation is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSegmentOperation.isSegmentCreation is same as(null) %}
                <p class="center-align">NC</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isIntelligentSegment'|trans }}</th>
        <td>
            {% if softmain.softSegmentOperation.isIntelligentSegment is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softSegmentOperation.isIntelligentSegment is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softSegmentOperation.isIntelligentSegment is same as(null) %}
                <p class="center-align">NC</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>