
<table class="striped">
    <tbody>
    <tr>
        <th>{{ 'isActivityReportCreation'|trans }}</th>
        <td>
            {% if softmain.softReport.isActivityReportCreation is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softReport.isActivityReportCreation is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softReport.isActivityReportCreation is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isActivityReportPeriodicSend'|trans }}</th>
        <td>
            {% if softmain.softReport.isActivityReportPeriodicSend is same as(true) %}
                <i class="small material-icons green-text">check</i>
            {% elseif softmain.softReport.isActivityReportPeriodicSend is same as(false) %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softReport.isActivityReportPeriodicSend is same as(null) %}
                <i class="small material-icons grey-text">help_outline</i>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

