
<div id="table" class="container">
    <table class="striped highlight center-align ">
        <tbody>
        <tr>
            <th>Logiciel</th>
            <td>Mautic</td>
            <td>MailChimp</td>
        </tr>
        <tr>
            <th>Nationalité</th>
            <td>Américaine</td>
            <td>Française</td>
        </tr>
        <tr>
            <th>Spécialités</th>
            <td>Logiciel d'emailing</td>
            <td>Logiciel d'emailing</td>
        </tr>
        </tbody>
    </table>
</div>