
<table class="striped highlight">
    <tbody>
    <tr>
        <th>Segmentation des contacts</th>
        <td>oui</td>
    </tr>
    <tr>
        <th>Tablette en magasin </th>
        <td>non</td>
    </tr>
    <tr>
        <th>Lead scoring</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Tests A/B</th>
        <td>non</td>
    </tr>

    <tr>
        <th>Contact management </th>
        <td>non</td>
    </tr>

    <tr>
        <th>List management</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Smart Contact Capture Form</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Intégration social media</th>
        <td>non</td>
    </tr>
    <tr>
        <th>CRM integration</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Integration CMS</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Choix du provider email</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Intégration e-commerce</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Choix du provider email</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Automated drip marketing</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Lead Stages</th>
        <td>non</td>
    </tr>
    <tr>
        <th>Campagne Email</th>
        <td>non</td>
    </tr>
    </tbody>
</table>