
<table class="striped highlight">
    <tbody>
    <tr>
        <th>{{ 'isActivityReportCreation'|trans }}</th>
        <td>
            {% if softmain.softReport.isActivityReportCreation  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isLeadStages == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'isActivityReportPeriodicSend'|trans }}</th>
        <td>
            {% if softmain.softReport.isActivityReportPeriodicSend  == false %}
                <i class="small material-icons red-text">close</i>
            {% elseif softmain.softLeadsOperation.isLeadStages == true %}
                <i class="small material-icons green-text">check</i>
            {% else %}
                <p class="center-align">Non communiqué</p>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

