,,,,,,,,,Informations essentielles,,,,,,,Canaux de communication sortant (outbound),,,,,,,Support de communications,,,,Gestion des contacts,,,,,,,Gestion des segments,,Campagnes Marketing Automation,,,,,Intégration Social Média,,,,,,,,Rapports,,Support,,,,,,Autres fonctionnalités,,,,,Contacts,,,,
Statut,Nom,Title,Type,Description,Commentaires,Les PLUS,Les MOINS,Tags,Conformité RGPD,Pour qui ? - Clientèle,Pays d'hébergement des données,Date de création,Abonnement annuel / 10k contacts (€ HT),Coût de formation,Site web,Email,SMS,Popin sur le site,Courrier postal,Centre d'appel,Notifications Push Mobile,Appel API,Page d'atterrisage,Formulaire,Code de suivi,Live Chat,Objet contact,Objet société,"Champs 
personnalisés",Champs illimités,Import CSV,"Déduplication 
automatique",Lead Stages,Création de segment,Création de segment intelligent,Auto-répondeur,Lead Scoring,Création de campagnes,"Campagne ""Drip Marketing""",Editeur en Drag and Drop,Veille Twitter,Publication automatique sur Twitter,Veille Facebook,Publication automatique sur Facebook,Veille Linkedin,Publication automatique sur Linkedin,Veille Instagram,Publication automatique sur Instagram,Création de rapports d'activité,Envoie périodique des rapports,"Support par email
",Support téléphonique,Support par chat,Base de connaissance,Base de connaissance (langues),Documentation technique,Choix du provider Email,Edition d'un blog,Tablette en magasin,SMTP Relais (email transactionnel),RSS to email,Prénom,Nom,Email,Téléphone,Langue
