@import 'partials/reset';
@import 'partials/variables';
@import 'partials/Components/footer';
@import 'partials/Components/filters';
@import 'partials/Components/nouislider';
@import 'partials/Components/nav';
@import 'partials/Components/icons';
@import 'partials/Components/share';
@import 'partials/Components/softwareCard';
@import "partials/Components/breadcrumb";
@import "partials/Components/table";
@import "partials/views/home";
@import "partials/views/results";
@import "partials/views/software";
@import "partials/views/listingTags";
@import "partials/views/mentionsLegales";
@import "partials/views/error404";
@import "partials/views/contact";
@import "partials/views/listingVersus";
@import "partials/views/uniqueTag";
@import "partials/views/listingTags";
@import "partials/views/listingSoftware";
@import "queries/_smartphone.scss";
@import "queries/_tablette.scss";

@import "partials/views/compare";

//node-sass --watch web/assets/sass/main.scss web/assets/css/main.css

body {
  font-family: 'Lato', sans-serif;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 2.5em;
    margin-top: 4%;
    margin-bottom:5%;
  }

  h2 {
    font-size: 1.7em;
    margin-top: 1%;
    margin-bottom: 5%;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 5%;
  }

  table {
    margin-top: -3%;
    margin-bottom: 5%;
  }
  th, td {
    height: 40px;
    vertical-align: middle;
    p {
      margin-bottom: auto; // text verticalized
    }
  }

  section {
    min-height: 100vh;
  }
  .top{
    cursor: pointer;
    text-align: right;
    margin-right: 5px;

  }
  #topFixed{
    position: fixed;
    text-align: right;
    bottom: 0;
    right:0;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
  }

  :-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
  }
}