@import 'partials/reset';
@import 'partials/variables';
@import 'partials/Components/footer';
@import 'partials/Components/filters';
@import 'partials/Components/nouislider';
@import 'partials/Components/nav';
@import "partials/views/home";
@import "partials/views/results";
@import "partials/views/software";
@import "partials/views/_tags.scss";
@import "partials/views/listing-software";
@import "queries/_smartphone.scss";
@import "queries/_tablette.scss";
@import "partials/Components/table";



html{
  min-height: 100%;
}
body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgba(21, 31, 48, 0.5), rgba(160, 190, 239, 0.5));
  background-size: cover;
  background-repeat: no-repeat;

}
