@import 'partials/reset';
@import 'partials/variables';
@import 'partials/Components/footer';
@import 'partials/Components/filters';
@import 'partials/Components/nouislider';
@import 'partials/Components/nav';
@import "partials/views/home";
@import "partials/views/results";
@import "partials/views/software";
@import "partials/views/tags";
@import "partials/views/mentions_legales";
@import "partials/views/error404";


html{
  min-height: 100%;
}
body{
  font-family: 'Lato', sans-serif;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;

}