{% extends 'base.html.twig' %}
{% block title %}A propos {{ parent() }} {% endblock %}
{% block metadesc %}
    <meta name="description"
          content="Le site internet Comparer.pro permet de comparer des logiciels de marketing automation"/>
{% endblock %}

    {% block h1 %}
        <h1>A propos</h1>
    {% endblock %}

{% block body %}

    <div id="about_us">
        <div class="row">
            <div class="col s12 m8">
                <p>Le site internet Comparer.pro permet de comparer des logiciels de marketing automation.</p>
                <p>Chaque logiciel est analysé sur plus de 70 critères. Vous pouvez rechercher la fonctionnalité qu’il vous faut, comparer les logiciels deux à deux ou encore naviguer de tags en tags pour trouver la plateforme de marketing automation qui vous conviendra.</p>
                <p>Ce projet à été lancé par Pierre Ammeloot spécialiste marketing automation, suite aux sollicitations régulière de ses prospects et clients avec une question récurrente : "quel logiciel de marketing automation doit-je choisir ?", ce site se veux la réponse à cette question.</p>
                <p>Bonne visite,<br />Pierre Ammeloot</p>
            </div>
        </div>
    </div>

{% endblock %}
