{% extends 'base.html.twig' %}
{% block title %}A propos {{ parent() }} {% endblock %}
{% bloc metadesc %}
    <meta name="description"
          content="?"/>
{% endblock %}

    {% block h1 %}
        <h1>A propos</h1>
    {% endblock %}

{% endblock body %}

    <div id="about_us">
        <p></p>
    </div>

{% endblock %}
