{% extends 'base.html.twig' %}
{% block title %}Nom du logiciel - logiciel de marketing automation {% endblock %}
        {% block h1 %}
            <h1>Comparez le logiciel 1 avec le logiciel 2</h1>
        {% endblock %}

{% block body %}
<div class="container">
    <div id="compare">
    <p>Stupéfiant ! Ce comparatif va vous permettre de connaître exactement les avantages et inconvénients des deux logiciels qui vous intéressent, grâce à notre expertise totalement géniale sur les logiciels de marketing automation.  </p>

    <table id="desktopVersus" class="striped highlight tableVersus">
        <tbody>
        <tr>
            <th>Logiciel</th>
            <th>MailChimp</th>
            <th>MailChimp</th>
        </tr>
        <tr>
            <th>Nationalité</th>
            <td>Américaine</td>
            <td>Américaine</td>
        </tr>
        <tr>
            <th>Spécialités</th>
            <td>Logiciel d'emailing</td>
            <td>Logiciel d'emailing</td>
        </tr>
        <tr>
            <th>Type d'abonnement</th>
            <td>Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable </td>
            <td>Licence renouvelable</td>
        </tr>

    </table>
    <table id="smartphoneVersus" class="striped highlight tableVersus">
        <tbody>
        <tr>
            <th colspan="2">Logiciel</th>
        </tr>
        <tr>
            <th>MailChimp</th>
            <th>MailChimp</th>
        </tr>
        <tr>
            <th colspan="2">Nationalité</th>
        </tr>
        <tr>
            <td>Américaine</td>
            <td>Américaine</td>
        </tr>
        <tr>
            <th colspan="2">Spécialités</th>
        </tr>
        <tr>
            <td>Logiciel d'emailing</td>
            <td>Logiciel d'emailing</td>
        </tr>
        <tr>
            <th colspan="2">Type d'abonnement</th>
        </tr>
        <tr>
            <td>Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable Licence renouvelable </td>
            <td>Licence renouvelable</td>
        </tr>
    </table>
    </div>
</div>

{% endblock %}
