{% extends 'base.html.twig' %}
{% block title %}Contactez-nous! {{ parent() }} {% endblock %}
{% block metadesc %}
    <meta name="description"
          content="Pour nous contacter, utilisez notre formulaire de contact."/>
{% endblock %}

        {% block h1 %}
            <h1>Contactez-nous&nbsp;!</h1>
        {% endblock %}

{% block body %}

    <div id="contact">
        <p>Si vous souhaitez échanger à propos du marketing automation, si vous avez des questions ou des doutes sur votre choix de logiciel vous êtes au bon endroit. Envoyer votre message et je vous répond au plus vite&nbsp;!&nbsp;:-)</p>
        <div class="row text">
            <div id="formContact">
                <div class="col m6 s12">
                    <script src="//pam.ammeloot.fr/form/generate.js?id=8"></script>
                </div>
                <div class="col m6 s12">
                    <figure>
                        <img class="responsive-img contact" src="{{ asset('assets/img/contact.jpg') }}" alt="contact">
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


