{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Contactez-nous! {% endblock %}
        {% block h1 %}
            <h1>Contactez-nous !</h1>
        {% endblock %}

{% block body %}
    <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <p>Si vous avez une question ou besoin d'une information, n'hésitez pas une seconde et remplissez ce formulaire de contact. Nous vous répondrons dans les plus brefs délais.</p>
                </div>

            <div class="col m6 s12">
                <figure>
                    <img class="responsive-img contact" src="{{ asset('assets/img/contact.jpg') }}">
                    <figcaption>Designed by Dragana_Gordic / Freepik</figcaption>
                </figure>
             </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/social.js') }}"></script>
{% endblock %}


