{% extends 'base.html.twig' %}
{% block title %}Contactez-nous! {{ parent() }} {% endblock %}
{% block metadesc %}Pour nous contacter, utilisez notre formulaire de contact.{% endblock %}

        {% block h1 %}
            <h1>Contactez-nous !</h1>
        {% endblock %}

{% block body %}

    <div id="contact">
        <p>Si vous avez une question ou besoin d'une information, n'hésitez pas une seconde et
            remplissez ce formulaire de contact. Nous vous répondrons dans les plus brefs délais.</p>

        <div class="row text">

            <div id="formContact">
                <div class="col m6 s12">
                    <script type="text/javascript" src="//pam.ammeloot.fr/form/generate.js?id=8"></script>
                </div>
                <div class="col m6 s12">
                    <figure>
                        <img class="responsive-img contact" src="{{ asset('assets/img/contact.jpg') }}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


