{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}
{% block title %} Trouvez le logiciel de marketing automation de vos rêves {% endblock %}
{% block metadesc %}Recherchez et trouvez le logiciel de marketing automation qui manque à votre entreprise, pgrâce à notre sélection des principaux acteurs du marché.{% endblock %}
{% block body %}
    <div id="home">
        <div class="row">
                    <h1 class="center-align col s10 m6 offset-s1 offset-m3">Marketing automation : découvrez tous les logiciels</h1>
        </div>
            <div class="row center-align homesearch">
                <div class="col s12 m8 offset-m2 l6 offset-l3 ">
                    <div class="card-panel" id="searchBar">
                        <form id="search-site" action='search' method='get'>
                            <div class="input-group">
                                <input id="search" type="search" name='search'
                                       placeholder="Ex: Mailchimp, envoi de sms..." tabindex="1" autofocus="autofocus">
                                <a href="{{ path('results') }}" class="btn-large"><i class="large material-icons right">search</i>Rechercher</a>
                            </div>
                        </form>
                    </div>
                </div>
        </div>

        <div class="container">
        <div class="row card-panel center-align presentation">
            <div class="col s12 offset-m1 m10">
                <h2>What is Marketing Automation ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col s12 offset-m1 m4 center-align block">
                <i class="medium material-icons">build</i>
                <h3>Title 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col s12 offset-m2 m4 center-align block">
                <i class="medium material-icons">build</i>
                <h3>Title 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col s12 offset-m1 m4  center-align block">
                <i class="medium material-icons">build</i>
                <h3>Title 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col s12 offset-m2 m4 center-align block">
                <i class="medium material-icons">build</i>
                <h3>Title 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}