{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}
{% block title %} Trouvez le logiciel de marketing automation de vos rêves {% endblock %}
{% block metadesc %}
    <meta name="description"
          content="Recherchez et trouvez le logiciel de marketing automation qui manque à votre entreprise,grâce à notre sélection des principaux acteurs du marché."/>
{% endblock %}
{% block body %}
    <div id="home">
        <div class="row center-align homesearch">
            <div class="col s12 m10 offset-m1 ">
                <h1 class="center-align col s12">Trouver un logiciel de Marketing Automation</h1>
                <div class="card-panel" id="searchBar">
                    <form id="search-site" action='{{ path('searchAction') }}' method='get'>
                        <div class="input-group">
                            <input id="search" type="search" name='search'
                                   placeholder="email, sms, rgpd, page d'atterrissage" tabindex="1"
                                   autofocus="autofocus"
                                   required>
                            <button class="btn waves-effect waves-light" id="versus-button" type="submit" name="action">
                                <i class="large material-icons right">search</i>Rechercher
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="homeCard">
            <div class="row homeCard">
                <div class="col s12 m4 offset-m4">
                    <div class="card-panel z-depth-0 center-align">
                        <p class="center-align">Avec comparer.pro trouvez le logiciel de marketing automation qui correspond à vos besoins.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card-panel presentation">
            <div class="center-align col s12 offset-m1 m10">
                <h2>Présentation</h2>
                <p>Comparer.pro vous offre un comparatif des logiciels de marketing automation du marché. Chaque
                    logiciel est analysé sur plus de 70 critères. Vous pouvez rechercher la fonctionnalité qu’il vous
                    faut, comparer les logiciels deux à deux ou encore naviguer de tags en tags pour trouver la
                    plateforme de marketing automation qui vous conviendra.</p>
                <p>Je m’appelle Pierre Ammeloot, je suis spécialiste du Marketing Automation, j’ai créé une équipe
                    dédiée sur le sujet, déployé plus de 300 campagnes depuis 2014, et j’ai formé 20 agences digitales
                    aux enjeux du Marketing Automation. Aujourd'hui j'accompagne les marques et les agences dans leur
                    stratégie Marketing Automation et je forme leurs équipes autour de ce sujet.</p>
                <p>La question du choix d’une “Marketing Automation Platform” est récurrente chez mes prospects et
                    clients. Ayant constaté que les éditeurs mettent en avant leur solution, de même que leurs agences
                    partenaires ne sont pas neutre, j’ai souhaité mettre en ligne ce comparateur de solutions de
                    marketing afin de vous proposer une approche qui soit lisible, neutre et complète.</p>
                <p>Il existe aujourd’hui plus de 10.000 logiciels permettant d’automatiser votre marketing sur le marché
                    mondial. J’ai fait le choix d’une sélections de 100 logiciels qui répondent à l’ensemble des
                    besoins. Il n’y a pas de bons ou de mauvais logiciels. Il existe un logiciel de marketing
                    automation adapté à votre besoin spécifique. Ne croyez pas les vendeurs de rêves qui vont vous dire
                    que c’est facile à mettre en oeuvre. Une stratégie marketing et sa mise en oeuvre demande un
                    investissement en temps, en énergie et en budget qui sont conséquent. Bien maitrisé cela vous
                    apportera de la croissance et de l’efficacité dans votre structure.
                </p>
                <p>Je reste bien sur joignable en remplissant simplement le formulaire de contact ci dessous ou par
                    email à pierre@ammeloot.fr</p>
                <p>A bientôt,</p>
                <p>Pierre</p>
            </div>

            <div class="row">
                <div class="col s12 m12 l12 ">
                    <h2>Formulaire de contact</h2>
                </div>
                <div class="col s12 m6 offset-m3">
                    <script src="//pam.ammeloot.fr/form/generate.js?id=9"></script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
