{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body{
            background-image: url("{{ asset('assets/img/background_homepage2.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}
{% block title %}{{ parent() }} - Home {% endblock %}
{% block body %}
    <div id="home">
        <div class="center-align">
            <div class="row">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <h1 class="search_bar">Homepage</h1>
                </div>
            </div>
        </div>
        <div class="center-align">
            <div class="row">
                <div class="col s12 m8 offset-m2 l6 offset-l3 ">
                    <div class="card-panel" id="searchBar">
                        <form id="search-site" action='search' method='get'>
                            <div class="input-group">
                                <input id="search" type="search" name='search'
                                       placeholder="Ecrivez ici votre recherche...">
                                <a href="/results" class="btn-large"><i
                                            class="large material-icons right">search</i>Rechercher</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
