{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}
{% block title %} Trouvez le logiciel de marketing automation de vos rêves {% endblock %}
{% block metadesc %}Recherchez et trouvez le logiciel de marketing automation qui manque à votre entreprise, pgrâce à notre sélection des principaux acteurs du marché.{% endblock %}
{% block body %}
    <div id="home">

        <div class="row center-align homesearch">
            <div class="col s12 m10 offset-m1 ">
                <h1 class="center-align col s12">Trouver un logiciel de Marketing Automation</h1>
                <div class="card-panel" id="searchBar">
                    <form id="search-site" action='{{ path('searchAction') }}' method='get'>
                        <div class="input-group">
                            <input id="search" type="search" name='search'
                                   placeholder="Ex: Mailchimp, envoi de sms..." tabindex="1" autofocus="autofocus"
                                   required>
                            <button class="btn waves-effect waves-light" id="versus-button" type="submit" name="action">
                                <i class="large material-icons right">search</i>Rechercher</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row card-panel center-align presentation">
            <div class="col s12 offset-m1 m10">
                <h2>What is Marketing Automation ?</h2>
                <p>Le Marketing Automation est le fait de scénariser la relation que nous avons avec les visiteurs
                    d'un site web. Cela permet d'automatiser les actions marketing menées sur les supports digitaux
                    (site web, emailing, réseaux sociaux, page d'atterissage).</p>
            </div>
            <div class="col s12 offset-m1 m4 center-align block">
                <i class="medium material-icons">build</i>
                <h3>Segmenter</h3>
                <p>Concrètement nous suivons/traquons les visiteurs lors de leur navigation et nous analysons leur
                    comportement, ce qui permet de les segmenter. Avec la mise à disposition de contenu à haute
                    valeur ajoutée nous récupérons leur adresse email et pouvons donc s'adresser à eux.</p>
            </div>
            <div class="col s12 offset-m2 m4 center-align block">
                <i class="medium material-icons">build</i>
                <h3>Entretenir</h3>
                <p>Avec le Marketing Automation le rôle du commercial est concentré sur la signature des contrats
                    qualifiés en amont par l'outil automatisé. En effet, l'outil est capable de fournir à intervalle
                    régulier la liste des prospects chauds au commercial afin que ce dernier puisse passer son temps
                    à faire ce dont il est le meilleur à faire, le closing.</p>
            </div>
            <div class="col s12 offset-m1 m4  center-align block">
                <i class="medium material-icons">build</i>
                <h3>Convertir</h3>
                <p>La quasi totalité de vos visiteurs ne seront pas convertis aujourd'hui. Ne les laissez pas
                    disparaître ! Le Marketing Automation vous permet de multiplier les points de contacts avec vos
                    prospects pour les amener du besoin à l'achat et optimiser votre ROI.</p>
            </div>
            <div class="col s12 offset-m2 m4 center-align block">
                <i class="medium material-icons">build</i>
                <h3>Finalité</h3>
                <p>Si vous avez aujourd'hui un site internet et que vous souhaitez augmenter le nombre de prospect
                    entrant via celui-ci alors le Marketing Automation est un sujet qui doit vous pré-occuper.</p>
            </div>
        </div>
    </div>
{% endblock %}