{% extends 'base.html.twig' %}
{% block title %}Tous les logiciels de Marketing Automation comparés{% endblock %}
{% block metadesc %}Découvrez les comparatigs des princinpaux logiciels de marketing automation du marché{% endblock %}

        {% block h1 %}
            <h1>Compararif des principaux logiciels de marketing automation :</h1>
        {% endblock %}
{% block body %}
    <div id="listing-versus">

        <h2>Cliquez sur un comparatif pour voir le détail :</h2>
        <div class="row">
            <ul>
                {% for i in range(0, 7) %}
                    <li class="col l4 m6 s12">
                        <a href="{{ path('versus') }}">Logiciel 1 comparé au logiciel 2</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}