{% extends 'base.html.twig' %}
{% block title %}Tous les logiciels de marketing automation {% endblock %}
{% block metadesc %}Liste de tous les logiciels de marketing automation.{% endblock %}

{% block h1 %}<h1>Tous les logiciels de marketing automation</h1>{% endblock %}

{% block body %}

    <div class="container">
        <div id="listing">
            <div class="row">

                {% for i in range(1, 69) %}
                    {% include('software-card.html.twig') %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}