{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Liste des tags {% endblock %}
        {% block h1 %}
            <h1>Trouvez votre logiciel de marketing automation par thème</h1>
        {% endblock %}
{% block body %}
    <div id="listing-tags">

        <h2>Cliquez sur un tag pour obtenir la liste des logiciels associés.</h2>
        <div class="row">
            <ul>
                {% for tag in tags %}
                    <li class="col l4 m6 s12">
                        <a href="{{ path('tagSolo') }}">{{ tag.name }}</a>
                        <div class="chip">12</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}