{% extends 'base.html.twig' %}
{% block title %}Tous les logiciels de Marketing Automation comparés{% endblock %}
{% block metadesc %}Découvrez les comparatigs des princinpaux logiciels de marketing automation du marché{% endblock %}

        {% block h1 %}
            <h1>Compararif des principaux logiciels de marketing automation :</h1>
        {% endblock %}
{% block body %}
    <div id="tags">

        <div class="container">
            <h2>Cliquez sur un comparatif pour voir le détail :</h2>
            <div class="row">
                <div class="collection">
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Logiciel 1 comparé au Logiciel 2 </a>


                </div>
            </div>
        </div>
    </div>
{% endblock %}