{% extends 'base.html.twig' %}
{% block title %}Mentions Légales {{ parent() }} -  {% endblock %}
{% block metadesc %}Mentions légales du site %nomsite%.{% endblock %}

{% block h1 %}
    <h1>Mentions Légales</h1>
{% endblock %}
{% block body %}

    <div id="mentions-legales">
        <div class="row">
            <div class="card-panel col s12">
                <div>
                    <p>Responsable du site : Pierre Ammeloot</p>
                </div>
                <div>
                    <h2>Propriétaire</h2>
                    <p>Pierre Ammeloot<br>
                        15 Avenue Sergent Michel Berthet<br>
                        69009 Lyon<br>
                        France<br>
                        Tél : +33 6 02 12 06 33</p>
                </div>
                <div>
                    <h2>Hébergement</h2>
                    <p>OVH<br>
                        SAS au capital de 10 000 000 €<br>
                        RCS Roubaix – Tourcoing 424 761 419 00045<br>
                        Code APE 6202A<br>
                        N° TVA : FR 22 424 761 419<br>
                        Siège social : 2 rue Kellermann – 59100 Roubaix – France.<br>
                        Directeur de la publication : Pierre Ammeloot</p>
                </div>
                <div>
                    <h2 id="privacy">Privacy Policy</h2>
                    <p>Cette application recueille certaines données personnelles de ses utilisateurs.</p>
                    <p>Données personnelles collectées aux fins et en utilisant les services suivants :</p>
                    <h3>Suivi de trafic</h3>
                    <ul>
                        <li>Google Analytics
                            <ul>
                                <li>Données personnelles: cookies et données d'utilisation</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>Contacter l'utilisateur</h3>
                    <ul>
                        <li>Mautic
                            <ul>
                                <li>Données personnelles: adresse e-mail, cookies, données d'utilisation</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>Interaction avec les réseaux et les plates-formes sociales externes</h3>
                    <ul>
                        <li>Facebook Like Button et sociaux, widgets Twitter, bouton Tweet et widgets sociaux, Google+,
                            bouton +1 et widgets sociaux
                            <ul>
                                <li>Données personnelles: cookies et données d'utilisation</li>
                            </ul>
                        </li>
                    </ul>
                    <p>Mis à jour Janvier 2018</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}