{% extends 'base.html.twig' %}
{% block title %}Mentions Légales {{ parent() }} -  {% endblock %}
{% block metadesc %}Mentions légales du site %nomsite%.{% endblock %}

{% block h1 %}
    <h1>Mentions Légales</h1>
{% endblock %}
{% block body %}

    <div id="mentions-legales">
        <div class="row">
            <div class="card-panel col s12">
                <div>
                    <h2>Responsable du site :</h2>
                    <p>Pierre Ammeloot</p>
                </div>
                <div>
                    <h2>Propriétaire</h2>
                    <p>Pierre Ammeloot<br>
                        15 Avenue Sergent Michel Berthet<br>
                        69009 Lyon<br>
                        France<br>
                        Tél : +33 6 02 12 06 33</p>
                </div>
                <div>
                    <h2>Hébergement</h2>
                    <p>OVH<br>
                        SAS au capital de 10 000 000 €<br>
                        RCS Roubaix – Tourcoing 424 761 419 00045<br>
                        Code APE 6202A<br>
                        N° TVA : FR 22 424 761 419<br>
                        Siège social : 2 rue Kellermann – 59100 Roubaix – France.<br>
                        Directeur de la publication : Pierre Ammeloot</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}