{% extends 'base.html.twig' %}
{% block title %}Bonnes pratiques {{ parent() }} -  {% endblock %}
{% block h1 %}
    <h1>Bonnes pratiques marketing automation</h1>
{% endblock %}
{% block body %}
{% endblock %}