{% extends 'base.html.twig' %}
{% block title %}Résultats de votre recherche{% endblock %}
{% block body %}
    <div id="results">
        <div class="row">


            <div class="center-align hide-on-med-and-up">
                <a href="#" data-activates="slide-out" class="button-collapse btn-large"><i
                            class="material-icons">edit</i>Plus de critères</a>
            </div>

            {% dump(softwares) %}

            {% include('filters.html.twig') %}


            <div class="pagination col s12">
                <!-- voir pour intégrer la pagination bien proprement dynamiquement sur la même page-->
                <ul class="center-align ">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/application.filters.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/nouislider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/resultHide.js') }}"></script>
{% endblock %}