{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Résultats {% endblock %}
{% block body %}

    <div id="results">
        <div class="row">




            <div class="col offset-l1 offset-m1 s12 m6 l6">
                <h1>Résultat de votre recherche : <!-- insérer ici le mot-clé recherché --></h1>
                {% for i in range(1, 10) %}
                    {% include(':default:result-software.html.twig') %}
                {% endfor %}
                </div>

            {% include('filters.html.twig') %}


            <div class = "pagination col s12"><!-- voir pour intégrer la pagination bien proprement dynamiquement sur la meme page-->
                <ul class="center-align ">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts  %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/application.filters.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/nouislider.min.js') }}"></script>
{% endblock %}