{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Fiche Logiciel {% endblock %}
        {% block h1 %}
            <h1>Tout sur le logiciel MailChimp</h1>
        {% endblock %}

{% block body %}
    <div class="container">
    <div id="software">
        <div class="row">
            <div class="col m8 s8 l8">
                <p>A brain that automatically <b>helps you find and connect with your audience </b>so you can build your brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most powerful automations that handle the marketing stuff so you can focus on the rest of your business.</p>
        <h2>Notre avis sur MailChimp</h2>
                <p>A brain that automatically helps you find and connect with your audience so you can build your brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most powerful automations that handle the marketing stuff so you can focus on the rest of your business.</p>
                <p>A brain that automatically helps you find and connect with your audience so you can build your brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most powerful automations that handle the marketing stuff so you can focus on the rest of your business.</p>
            </div>
        <div class="col m4 s4 l4">
            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png" height="250" width="250">
        </div>


        </div>
                <div class="row">
                    <div class="col m8 s8 l8 offset-m1 offset-l1">
                        {% include 'table.html.twig' %}
                    </div>
                </div>


        <div class="row">
            <div class="col m8 s8 l8">
                <h2>Notre avis sur MailChimp</h2>
                <p>A brain that automatically helps you find and connect with your audience so you can build your brand
            and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most powerful
            automations that handle the marketing stuff so you can focus on the rest of your business.</p>
                <p>A brain that automatically helps you find and connect with your audience so you can build your brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most powerful automations that handle the marketing stuff so you can focus on the rest of your business.</p>
                <h2>Notre avis sur MailChimp</h2>
                <p>A brain that automatically helps you find and connect with your audience so you can build your brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most powerful automations that handle the marketing stuff so you can focus on the rest of your business.</p>
                <p>A brain that automatically helps you find and connect with your audience so you can build your brand and sell more stuff. Activating your MailChimp brain is free and easy. Explore 10 of our most powerful automations that handle the marketing stuff so you can focus on the rest of your business.</p>

            </div>
        </div>
    <aside id="share">
        <a href=https://twitter.com/share?url= $lien &text=$titre &via=VOTRE-NOM-TWITTER" rel="nofollow"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" class="mdi mdi-twitter mdi-36px mdi-light hidden"></a>
        <a href="http://www.facebook.com/sharer.php?u=https://www.google.fr/" rel="nofollow"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" class="mdi mdi-facebook mdi-36px mdi-light hidden"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url= $lien &title= $titre" rel="nofollow"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" class="mdi mdi-linkedin mdi-36px mdi-light hidden "></a>
        <a href="https://buffer.com/add?text={title}&url={url}" rel="nofollow"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" class="mdi mdi-buffer mdi-36px mdi-light hidden "></a>
        <a class="mdi mdi-share-variant mdi-36px mdi-light "></a>
    </aside>


        </div>

    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/social.js') }}"></script>
{% endblock %}