{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Tags {% endblock %}
{% block body %}
    <div id="tags">
        <h1>Tags</h1>

        <div class="container">
            <div class="row">
                <div class="card-panel col s12">
                    <h3>Tag 1</h3>
                    <ul>
                        <li><a href="/tag/description1" rel="tag">Description 1</a></li>
                        <li><a href="/tag/description2" rel="tag">Description 2</a></li>
                    </ul>
                    <h3>Tag 2</h3>
                    <ul>
                        <li><a href="/tag/description1" rel="tag">Description 1</a></li>
                        <li><a href="/tag/description2" rel="tag">Description 2</a></li>
                    </ul>
                    <h3>Tag 3</h3>
                    <ul>
                        <li><a href="/tag/description1" rel="tag">Description 1</a></li>
                        <li><a href="/tag/description2" rel="tag">Description 2</a></li>
                    </ul>
                    <h3>Tag 4</h3>
                    <ul>
                        <li><a href="/tag/description1" rel="tag">Description 1</a></li>
                        <li><a href="/tag/description2" rel="tag">Description 2</a></li>
                    </ul>
                    <h3>Tag 5</h3>
                    <ul>
                        <li><a href="/tag/description1" rel="tag">Description 1</a></li>
                        <li><a href="/tag/description2" rel="tag">Description 2</a></li>
                    </ul>
                    <h3>Tag 6</h3>
                    <ul>
                        <li><a href="/tag/description1" rel="tag">Description 1</a></li>
                        <li class="last"><a href="/tag/description2" rel="tag">Description 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}