{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Tags {% endblock %}
        {% block h1 %}
            <h1>Liste des logiciels classés par tag</h1>
        {% endblock %}
{% block body %}
    <div id="tags">

        <div class="container">
            <div class="row">
                <div class="card-panel col s12">
                    <section class="tagAndSofwtares collection">
                        <ul>
                            <h3 class="col s12">Tag 1</h3>
                            <p class="col s12">Description précise d'un tag</p>
                            <div class="row listeLogiciel">
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel X</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel X</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel X</p>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </section>
                    <section class="tagAndSofwtares collection">
                        <h3 class="col s12">Tag 2</h3>
                        <p class="col s12">Description précise d'un tag</p>
                        <ul>
                            <div class="row listeLogiciel">
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel X</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel X</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel X</p>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </section>
                    <section class="tagAndSofwtares collection">
                        <h3 class="col s12">Tag 3</h3>
                        <p class="col s12">Description précise d'un tag</p>
                        <ul>
                            <div class="row listeLogiciel">
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel 1</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel 1</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col s2">
                                    <div class="logicielTagView">
                                        <div class="card-image">
                                            <img src="https://www.acd-groupe.fr/galerie/produits/logo_expert_comptabilite.png"
                                                 class="responsive-img">
                                        </div>
                                        <div class="card-content">
                                            <p class="logiciel-title center-align">Logiciel 1</p>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}