{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Tags {% endblock %}
        {% block h1 %}
            <h1>Liste des Tags</h1>
        {% endblock %}
{% block body %}
    <div id="tags">

        <div class="container">
            <h2>Cliquez sur un tag pour voir tous ses logiciels associés</h2>
            <div class="row">
                <div class="collection">
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>
                    <a href="#" class="collection-item col s12 m6  l4 ">Tag X</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}