{% extends 'base.html.twig' %}
{% block title %}{{ tag.name }} : tous les logiciels de marketing automation.{% endblock %}
{% block metadesc %}Liste des logiciels de marketing automation qui permettent %nom tag% {% endblock %}
        {% block h1 %}
            <h1>{{ tag.name }}</h1>
        {% endblock %}
{% block body %}
    <div id="tag">

        <p>{{ tag.description | raw }}</p>
        <div class="row" id="listSoftsByTags">
            {% for software in tag.softMains %}
                {% include('software-card.html.twig') %}
            {% endfor %}
        </div>
    </div>
{% endblock %}