{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Page Error {% endblock %}

{% block body %}

        <div id="container">
            <h1>Erreur 404 !</h1>
            <h2>Page non trouvée</h2>
            <p>Veuillez vous diriger vers une autre page</p>
        </div>

{% endblock %}