{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Exception {% endblock %}
{% block body %}


    <div id="container">
        <div id="error">
            <h1 class="sub_desc">Page non rencontrée</h1>
            <p>Veuillez vous diriger vers une autre page</p>
        </div>
    </div>

{% endblock %}