@media (max-width: 400px) {

  .navmob {
    height: 75px;
  }
  #results {
    h1 {
      margin-top: 8%;
    }
    h3 {
      margin-top: 5%;
      margin-bottom: 8%;
    }
  }
  nav {
    .nav-wrapper {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .result-logo-responsive {
    display: none;
  }
  .top {
    display: none;
  }
  #home {
    .presentation {
      margin-top: 4%;
    }
  }
  #software {
    p {
      text-align: left;
    }
    th, td {
      vertical-align: middle;
      p {
        text-align: center;
      }
    }
  }

  .softwareCard {
    .card-content {
      .card-title {
        font-size: 1.5em;
      }
    }
  }
}


