@media (min-width: 400px) and (max-width: 990px)
{
  .AAAA{
    height: 75px;
  }
  #results{
    h1{text-align: center; margin-top: 6%;}
    h3{font-size: x-large; margin-top: 5%; margin-bottom: 5%;}
  }

  #listing{

  }
}
